<!-- card -->
    <div class="card">
        <mat-card>
            <app-card
            bg="orange"
            icon="import_contacts"
            content="Admissions"
            total="4000"
            >
            </app-card>
        </mat-card>

        <mat-card>
            <app-card
            bg="green"
            icon="home"
            content="placements"
            total="3000">
        </app-card>
        </mat-card>

        <mat-card>
            <app-card
            bg="red"
            icon="person"
            content="student"
            total="5000">
        </app-card>
        </mat-card>

        <mat-card>
            <app-card
            bg="blue"
            icon="group"
            content="Employees"
            total="300">
        </app-card>
        </mat-card>
        
    </div>
<!-- area charts -->
    <div>
        <app-area-chart></app-area-chart>
    </div>
<!--table  -->
<!-- pie chart -->
<div class="parent">
    <app-table></app-table>
    <app-pie-chart></app-pie-chart>
</div>